*{
	margin: 0;
	padding: 0;
}
body{
	background: #333;
}
.box{
	width: 800px;
	height: 280px;
	margin: 50px auto;
	position: relative;
}
.box .link{
	width: 205px;
	height: 280px;
	float: left;
	margin: 0 20px;
}
.link .icon{
	display:block;
	width: 100%;
	height: 180px;
	transition:all 0.3s ease-out;      /*过渡属性,这里定义了全部属性过渡，全部属性all，时间0.2s，方式ease-out*/
}
.link-miss .icon{
	background:url(../images/mission.png) no-repeat center center;
}
.link-paly .icon{
	background:url(../images/play.png) no-repeat center center;
}
.link-touch .icon{
	background:url(../images/touch.png) no-repeat center center;
}

.link .icon:hover{
	transform:rotate(360deg) scale(1.2);/*旋转360度，放大1.2倍,*/
}
.button{
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	position: relative;
	color: #2DCB70;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	border:2px solid rgba(255,255,255,0.8);
	padding-left: 20px;
	margin: 0 auto;
	box-sizing: border-box; /*不考虑边框宽度和内边距，宽度和高度就是按设置的显示*/
	background: url(../images/allow.png) no-repeat 130px center;
	transition:all 0.4s ease;
}
.button:hover{
	border:2px solid rgba(255,255,255,1);
	background-position: 140px center;   
}
.button .line{
	display: block;
	position: absolute;
	background: none;
	transition:0.4s ease;
}
.button:hover .line{
	background: #fff;
}
/*从左到右*/
.button .line-top{
	height: 2px;
	width: 0;
	left: -110%;
	top: -2px; 
}
.button:hover .line-top{
	width:100%;
	left: -2px;
}
/*从上到下*/
.button .line-right{
	height: 0;
	width: 2px;
	right: -2px;
	top:-110%; 
}
.button:hover .line-right{
	height:100%;
	top:-2px;
}
/*从下到上*/
.button .line-bottom{
	height: 0;
	width: 2px;
	left: -2px;
	bottom:-110%; 
}
.button:hover .line-bottom{
	height:100%;
	bottom:-2px;
}
/*从右到左*/
.button .line-left{
	height: 2px;
	width: 0;
	right: -110%;
	bottom:-2px; 
}
.button:hover .line-left{
	width:100%;
	right:-2px;
}

.tip{
	position: absolute;
	padding: 0 14px;
	height: 35px;
	line-height: 35px;
	background: #2DCB70;
	color: #fff;
	font-size: 18px;
	border-radius: 3px;
	margin: 0 auto;
	top: 100px;
	opacity: 0;
}
.tip em{
	font-style: normal;
}
/*提示三角形*/
.tip span{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 7px solid transparent;
	border-top-color: #2DCB70;  /*bottom向下的三角形，向左，向右类似*/
	position: absolute;
	top: 35px;
	left: 50%;
	margin-left: -3px;
}