$toolbar-size:52px; 

.toolbar{
	position:fixed;
	left:50%;
	bottom:5px;
	margin-left:-$toolbar-size / 2;
}

.toolbar-item{
	position: relative;
	display: block;
	width:$toolbar-size;
	height: $toolbar-size;
	margin-top:1px;

	&:hover{
		.toolbar-icon{
			top:-$toolbar-size;
		}
		.toolbar-text{
			top:0;
		}
	}
}
.toolbar-btn{
	position: absolute;
	left:0;
	top:0;
	width:$toolbar-size;
	height: $toolbar-size;
	overflow: hidden;
}
.toolbar-icon{
	position: absolute;
	left:0;
	top:0;
	width:$toolbar-size;
	height: $toolbar-size;
	background-color: #d0d6d9;
	font-size:30px;
	color:#fff;
	text-align: center;
	line-height:$toolbar-size;
	@include transition(top 0.7s);
}
.toolbar-text{
	position: absolute;
	left:0;
	top:$toolbar-size;
	width:$toolbar-size;
	height: $toolbar-size;
	background-color: #98a1a6;
	padding-top:12px;
	font-size:12px;
	color:#fff;
	text-align: center;
	line-height:1.2;
	@include transition(top 0.7s);
}